// Specific effect boolean variable
$enable-shadows: true;
$enable-gradients: true;

// Changing the border radius
$border-radius: 5px;

// Button and badge color variables
$primary: #202f41;
$secondary: #436296;
$success: #2bc550;
$info: #495dff;
$warning: #ef8143;
$danger: #ff293a;
$light: #dfe6ee;
$dark: #0f1319;

// Background color variables
$body-bg: #d3e9eb;
$body-color: #151418
