// Specific effect boolean variable
$enable-shadows: true;
$enable-gradients: true;

// Changing the border radius
$border-radius: 5px;

// Button and badge color variables
$primary: #202f41;
$secondary: #436296;
$success: #2bc550;
$info: #2638bb;
$warning: #ef8143;
$danger: #ff293a;
$light: #dfe6ee;
$dark: #0f1319;

@function set-text-color($color) {
    @if(lightness($color) > 60) {
        @return #333;
    }
    @else {
        @return #fff;
    }
}

@mixin set-background($color) {
    background-color: $color;
    color: set-text-color($color)
}

// Background color variables
$body-bg: #d3e9eb;
$body-color: #151418;

// margin padding setting function
$spaceamounts: (1,2,3,4,5);

@each $space in $spaceamounts {
    // All around margin
    .m-#{$space} {
        margin: #{$space}rem;
    }

    // Vertical Margin
    .my-#{$space} {
        margin: #{$space}rem 0;
    }

    // All around Padding
    .p-#{$space} {
        padding: #{$space}rem;
    }

    // Vertical Padding
    .py-#{$space} {
        padding: #{$space}rem 0;
    }
}