@import 'custom-variables';
@import 'custom-styles';

// Body tag default setting
body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    background: #122031
}

h1 {
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 0;
}

h3 {
    margin: 0;
    padding: 0;
}

h4 {
    margin: 0;
    padding: 0;
}

h5 {
    margin: 0;
    padding: 0;
}

h6 {
    margin: 0;
    padding: 0;
}

// Navbar default setting
.navbar {
    color: white;
    background-color: #042652;
    font-weight: bold;
}

.navbar-lg {
    height: 4rem;
}

// Card layout & styles
.cards {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
 }

.card {
    display: block;
    margin: 0.1rem;
    padding: 0;
    border: solid 1px;
    border-radius: $border-radius;
    height: 200px;
    width: 320px;
    .card-header {
        width: 100%;
        height: 15%;
        border-radius: $border-radius;
        border-bottom: solid 1px;
    }
    
    .card-body {
        width: 100%;
        height: 85%;
        border-radius: $border-radius;
        align-items: center;
        .card-title {
            text-align: left;
        }
        .card-text {
            text-align: center;
        }    
    }

    &.card-primary {
        @include set-background($primary);
    }
    
    &.card-secondary {
        @include set-background($secondary);
    }
    
    &.card-success {
        @include set-background($success);
    }
    
    &.card-info {
        @include set-background($info);
    }
    
    &.card-warning {
        @include set-background($warning);
    }
    
    &.card-danger {
        @include set-background($danger);
    }
    
    &.card-light {
        @include set-background($light);
    }
    
    &.card-dark {
        @include set-background($dark);
    }
}


// Button styles
.btn {
    width: 5rem;
    height: 3rem;
    border: none;
    border-radius: $border-radius;
    color: white;
    cursor: pointer;

    &.btn-primary {
        @include set-background($primary);
        &:hover {
            background: lighten($primary, 15%);
        }
    }
    
    &.btn-secondary {
        @include set-background($secondary);
        &:hover {
            background: lighten($secondary, 15%);
        }
    }
    
    &.btn-success {
        @include set-background($success);
        &:hover {
            background: lighten($success, 15%);
        }
    }
    
    &.btn-info {
        @include set-background($info);
        &:hover {
            background: lighten($info, 15%);
        }
    }
    
    &.btn-warning {
        @include set-background($warning);
        &:hover {
            background: lighten($warning, 15%);
        }
    }
    
    &.btn-danger {
        @include set-background($danger);
        &:hover {
            background: lighten($danger, 15%);
        }
    }
    
    &.btn-light {
        @include set-background($light);
        &:hover {
            background: lighten($light, 15%);
        }
    }
    
    &.btn-dark {
        @include set-background($dark);
        &:hover {
            background: lighten($dark, 15%);
        }
    }
}


